body {
    background-color: rgb(255, 255, 255);
    overflow: hidden; /* This hides scrollbars which appear for some reason (although they really shouldn't)  */
}

html, body {
    margin:0;
    padding:0; 
}
